body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	margin: 10px 0 20px;
	line-height: 1.5;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 33px;
	color: #09b9dc;
	margin: 10px 0 20px;
}
h3{
	font-family: 'Heebo', sans-serif;
	font-size: 25px;
	color: #09b9dc;
	margin: 10px 0 20px;
}
h4{
	font-family: 'Raleway', bold 700;
	font-size: 23px;
	color: #09b9dc;
	margin: 10px 0 20px;
}
a{
	color: #0492af;
	font-size:16px;
}
p{
	color: #666666;
	text-align: justify;
}
/* Start header */
.navbar {
    background-color: #09b9dc;
    padding: 0;
}
.navbar-brand img{
	height: 85px;
	padding: 5px;
}
.navbar-light .navbar-toggler{
	text-align: right;
	color: #fff; 
	background-color: #09b9dc;
	border: none;
	font-size: 30px;
}
/* Zašto mi ne funkcioniše text-align? */
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	padding: 15px;
	font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	padding: 15px;
	font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #ccc;
}
.meni .navitem.active{
	background-image: linear gradient(to bottom, #e7fafe 0, #033e49 100%);
}
/* Ne funkcioniše mi linear gradient*/
.dropdown-menu.show{
	background-color: #09b9dc;
	border: none;
	margin-top: 22px;
}
a.dropdown-item{
	background-color: #09b9dc;
	color: #fff;
	font-size: 18px;
}
.dropdown-item:hover{
	color:#025a6b;
	background-color: #09b9dc;
}
.dropdown-divider a.dropdown-item{
	background-color: #09b9dc;
	color: #fff;
	font-size: 18px;
}
/* Napisala sam i ovako ali mi se ne prikazuje dio Zakaži termin, ispod dividera */
.trazi input[type=search]{
	width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
/* Zašto mi se ne prikazuje ova ikonica kao background? */
.trazi .btn{
	border: none;
	border-radius: 48%;
	color: #fff;
	background: #09b9dc;
}
.trazi i:hover{
	color: #ccc;
}
.trazi .btn.btn-outline-success:active{
	background-color: #09b9dc;
	color: #fff;
}

/* Ne želim tu zelenu boju kada kliknem na lupu za search ali ne znam kako da je maknem. Probala sam sa :active, :visited i :link ali ne ide. */
.btn i{
	font-size: 28px;
}
/* End header */

/* Start footer */
.psh_krug img{
	padding: 20px 0;
}
.psh_krug p{
	font-size: 18px;
}
.pratite{
	padding-left: 110px;
}

/* End footer */

/* Start index.html */
	/* start huxley */
.main{
	position:relative;
}
.main h1{
	position: absolute;
	color: #fff;
	padding-top: 23%;
	margin-left: -2%;
}
.ogledalo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.ogledalo img{
	opacity: 0.5;
}
/* Ovdje ne radi top u %, već samo u pikselima, a transform kao da ne postoji. */
	
	/* end huxley */
	
	/*start psihoterapija */
.psihoterapija{
	margin-top: 37%;
	padding-top: 15%;
	padding-bottom: 2%;
	border-bottom: 1px solid #ccc;
}
.psihoterapija h2{
	padding-bottom: 10px;
}
.psihoterapija h4{
	padding: 20px 0 10px;
	border-bottom: 1px solid #ccc;
}
.psihoterapija p{
	color: #595959;
	text-align: justify;
	padding-bottom: 15px;
}
.psihoterapija .marg_bott{
	margin-bottom: 5%;
}
.psihoterapija a{
	color: #fff;
	background-color: #09b9dc;
	border: 1px solid #09b9dc;
	padding: 5px 15px;
	border-radius: 5px;
	
}
.psihoterapija a:hover{
	color: #09b9dc;
	background-color: #fff;
	border: 1px solid #09b9dc;
	box-shadow: 2px 2px 4px #09b9dc;
	text-decoration: none;
}
	/*end psihoterapija */
	
	/* start usluge */
.nase_usluge{
	margin-top: 3%;
	margin-bottom: 30px;
	
}
.nase_usluge h2{
	padding: 10px 0 20px;
	margin: 10px 0;
}
.nase_usluge h3{
	padding: 10px;
}
.nase_usluge i:before {
	font-size: 40px;
    margin: 0;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #ccc;
}
.nase_usluge a:hover i:before{
	background-color: #09b9dc;
	color: #fff;
}
.usluge{
	margin: 20px 0;
}
.usluge a{
	padding: 20px;
}
.usluge h3{
	margin-top: 20px;
	margin-bottom: 0;
	padding: 20px 0;
}
.usluge p{
	text-align: justify;
}


	/* end usluge */
	
	/* start upoznajte tim */
.tim{
	margin: 30px 0;	
	position: relative;
}
.pozadinska{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.upoznajte_tim{
	margin-right: 0;
	padding-right: 0;
	padding-top: 12%;
}
.tim p{
	font-size: 20px;
	color:  #666666;
}
.right_border{
	border-right: 2px solid #ccc;
	margin-right: 5%;
	padding: 10px;
}

.tim img{
	border: 2px solid #09b9dc;
}
.upoznajte_tim a{
	color: #09b9dc;
	font-size: 22px;
}
.upoznajte_tim h4{
	padding: 10px 0;
}
.upoznajte_tim a:hover{
	color: #09b9dc;
	background-color: transparent;
	border: 1px solid #09b9dc;
	box-shadow: 1px 1px 4px #09b9dc;
	border-radius: 10px;
	padding: 2px 8px;
	text-decoration: none;
}
.pozadinska img{
	border: none;
}
	/*end upoznajte tim */
	
	
/*start blog */
.blog{
	margin-top: 5%;
	margin-bottom: 10%;
}
.blog h2{
padding: 20px;
}
.blog h3{
	padding: 15px;
	line-height: 1.3;
	text-align: center;
}
#slider_blog .owl-nav{
	width: 32%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%)
}
#slider_blog .owl-prev, #slider_blog .owl-next{
	font-size: 28px;
	padding: 10px 25px !important;
	color: #09b9dc;
	background: #ddd;
	border: 1px solid #ddd;
	border-radius: 49%;
}
#slider_blog .owl-prev:hover, #slider_blog .owl-next:hover{
	color: #09b9dc;
	background: #fff;
	box-shadow: 2px 2px 4px 2px #ccc;
}
#slider_blog span{
	font-weight: bold;
}
#slider_blog .owl-prev{
	float: left;
}
#slider_blog .owl-next{
	float: right;
}
/*end blog */
	/* start utisci klijenata */
#slider_utisci{
	padding: 20px 0;
}
.utisci{
	background: #bbb;
	margin-top: 7%;
	padding-top: 20px;
	padding-bottom: 10px;
	
}
.utisci p{
	color: #fff;
	font-size: 18px;
	padding: 10px 40px;
	margin: 0;
	text-align: center;
}
.owl-dots{
	margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span{
	width: 15px;
	height: 15px;
	background-color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span{
	width: 15px;
	height: 15px;
	background-color: #09b9dc;
}
.owl-theme .owl-dots .owl-dot span:after{
	background-color: #09b9dc;
}
.owl-theme .owl-dots .owl-dot span:hover{
	background-color: #09b9dc;
}
button:focus{
	outline:none;
}

	/* end utisci klijenata */
	
	/* start galerija */
.galerija{
	background-color: #f5f5f5;
	padding-bottom: 5%;
}
.galerija h2{
	padding-top: 3%;
}
.galerija figure{
	padding: 20px;
	margin: 0;
}	
.galerija img{
	width: 100%;
}
	/* end galerija */

/* End index.html */

	/* start footer */
.kontakt {
	margin: 3% auto;
}
.psh_krug img{
	padding-bottom: 25px;
}
.kontakt .pratite{
	font-weight: bold;
}
.psh_krug .social{
	color: #09b9dc;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #09b9dc;
	border-radius: 50%;
	padding: 4px 10px;
}
.psh_krug  .social:hover{
	color: #09b9dc;
	background-color: transparent;
	border: 1px solid #09b9dc;
	box-shadow: 2px 2px 4px #09b9dc;
	
}
.navigacija h4, .navigacija a, .contact h4, .contact a, .contact li{
	color: #666666;
}
.navigacija{
	padding-left: 5%;
	margin-top: 5%;
}
.navigacija h4{
	text-align: left;
	padding-left: 14%;
}
.navigacija ul, .kontakt ul{
	list-style: none;	
}
.navigacija li{
	line-height: 1.8;
}

.navigacija a:hover{
	color: #09b9dc;
	text-decoration: none;
}
.contact h4{
	margin-top: 15%;
	text-align: left;
	padding-left: 14%;
}
.contact{
	line-height: 1.8;
}
.contact li{
	font-size: 16px;
}
.contact i{
	color: #09b9dc;
	font-size: 16px;
	padding-right: 7px;
}
.contact a:hover{
	color: #09b9dc;
	text-decoration: none;
	
}
.futer{
	background-color: #08a5c4;
}
.futer {
	padding-top: 20px;
	padding-bottom: 10px;
}
.futer p{
	color:  #fff;
}
.design p{
	text-align: right;
}	
	/* end footer */

/* Start kontakt.html */

.hero{
	position: relative;
}
.hero_overlay{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
	margin-top: 0;
}
.hero_overlay img{
	opacity: 0.6;
}
.hero-text h1{
	position: absolute;
    font-size: 60px;
    font-weight: 500;
	color: #666666;
   padding-top: 6%;
   margin-left: -2%;
}
.kontakt_input{
	margin: 3% auto;
}
.kontakt_input p{
	font-size: 18px; 
	margin: 5px 0 30px 0;
}
.kontakt_input input{
	display: inline-block;
}

/* End kontakt.html */

@media(max-width: 767px){
	.navbar-brand img{
	height: 55px;
	padding: 5px;}
}
	
@media(max-width: 767px){
	.navbar-light .navbar-toggler{
	font-size: 20px;}
}
@media(max-width: 767px){
	#slider_blog .owl-nav{
		display: none;}
}
@media(max-width: 1024px){
	.pozadinska{
	display: none;
	background-color: #ddd;
	border-right: 0;}
}
@media(max-width:768px){
	.right_border{
	border-bottom:2px solid #ccc;
	border-right: none;
	margin-bottom: 5%;
	}}
@media(max-width:768px){
	.left_border{
	margin-bottom: -5%;
	}}
@media(max-width: 425px){
  .main h1{
	font-size: 20px
  }}
 @media(max-width:786px){
 .right_border{
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
 }}
 @media(max-width:768px){
 .upoznajte_tim{
	border-bottom: 2px solid #ccc;
	padding-bottom: 5%;
 }}
 @media(max-width:1024px){
	.right_border h2, .right_border p{
	text-align: center;
	}}
/* Ne znam kako da opišem da mi do 1024px i ta veličina, naslov Upoznajte naš tim i p budu centrirani i zauzmu cijelu širinu ekrana, desni border izbrisan i bude samo donji kako sam i napravila na manjim ekranima, a da su članovi tima takođe centrirani i svaki se prikazuje u zasebnom redu. Takođe mi se tu ne prikazuje pozadinska boja #ddd iako sam uspjela ukinuti .pozadinsku kako si mi savjetovala.*/
 