/* Start header */
	/* start top-bar */
.top_bar{
	position: absolute;
	left:0;
	top:50px;
	width:100%;
}
	/* Ovo ne funkcioniše kako treba sa headerom sticky-top. Isprobala sam positio, bude prelijepljen header preko. */

.top_bar a, .top-bar li, .top_bar .pratite, .top_bar i{
	font-size: 12px;
	color: #0790ab;
}
.top_bar a:hover, .top-bar li:hover, .top_bar .pratite:hover{
	color: #025a6b;
	text-decoration: none;
}
.mail_col8{
	padding: 10px;
}
.social a{
	display: inline-block;
	margin-right: 5px;
}
.top_bar ul.social{
	list-style: none;
}
.button-blue{
	display: inline-block;
	border: 1px solid #08a5c4;
	border-radius: 7%;
	padding: 2px 10px;
}
a.button-blue:hover{
	color: #fff;
	background-color: #0492af;
	border: none;
}
/* Kao što vidiš ne funkcioniše mi ni inline-block. Kako da sve ovo poredam desno u red? */
	/* end top-bar */
.navbar{
	background-color:  #09b9dc;
	padding: 0;
}
.navbar-brand img{
	height: 85px;
	padding: 5px;
}
.navbar-light .navbar-toggler{
	text-align: right;
	color: #fff; 
	background-color: #09b9dc;
	border: none;
	font-size: 30px;
}
/* Zašto mi ne funkcioniše text-align? */
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	padding: 15px;
	font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	padding: 15px;
	font-size: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color:	#033e49;
}
.meni .navitem.active{
	background-image: linear gradient(to bottom, #e7fafe 0, #033e49 100%);
}
.dropdown-menu.show{
	background-color: #09b9dc;
}
a.dropdown-item{
	background-color: #09b9dc;
	color: #fff;
	font-size: 18px;
}
.dropdown-item:hover{
	color:#025a6b;
	background-color: #09b9dc;
}
.dropdown-divider a.dropdown-item{
	background-color: #09b9dc;
	color: #fff;
	font-size: 18px;
}
/* Napisala sam i ovako ali mi se ne prikazuje dio Zakaži termin, ispod dividera */
.trazi input.form-control{
	font-size: 18px;
}
.trazi .btn{
	border: none;
	border-radius: 48%;
	color: #fff;
	background: #09b9dc;
	
}
.trazi .btn:hover{
	color: #fff;
	background-color: #a5a8a7;
	border: none;
}
/* Ne želim tu zelenu boju kada kliknem na lupu za search ali ne znam kako da je maknem. Probala sam sa :active, :visited i :link ali ne ide. */
.btn i{
	font-size: 28px;
}
/* End header */

/* Start index.html */
	/* start huxley */
.relative{
	position: relative;
	
}
.relative .ogledalo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.huxley{
	color: #fff;
	padding-top: 312px;
	padding-left: 20px;
}
.huxley h1, .huxley h2{
	line-height: 1.5;
}
.aldous_blue{
	color: #08a5c4;
	padding-left: 310px;
}
	
	/* end huxley */
	
	/* start usluge */
.psihoterapija{
	margin-top: 150px;
}
.psihoterapija h2{
	padding: 20px;
}
.psihoterapija h3{
	padding: 10px;
}
	/* start usluge */

/* End index.html */

@media(max-width: 768px){
	.navbar-brand img{
	height: 55px;
	padding: 5px;}
}
	
@media(max-width: 768px){
.navbar-light .navbar-toggler{
	font-size: 20px;}
}